:host {
  display: flex;
  justify-content: center;
  cursor: pointer;

  border: 1px solid grey;
  border-radius: 0.1rem;
  padding: 0.1rem 0.2rem 0.1rem 0.1rem;
  background-color: var(--kt-button-background);

  div:hover {
    background-color: var(--kt-button-hover);
  }

  > *:not(:last-child) {
    margin: 0 0.1rem;
    padding: 0 0.4rem;
  }
}


