.data {
  display: flex;
}

table {
  width: 100%;
}

.error-record-details {
  overflow: hidden;
  display: flex;
}

tr.detail-row {
  height: 0;
}

tr.error-record-row:not(.expanded-row):hover {
  background: #333;
}

tr.error-record-row {
  cursor: pointer;
}
