.title {
  float: left;
}

.action-button {
  float: right;
  margin-left: 1rem;
}

.replay-button {
  background-color: #4CAF50;
}

/*.refresh-button mat-icon:hover{*/
/*  color: red;*/
/*  transform: rotate(360deg);*/
/*  transition-duration: 0.8s;*/
/*  transition-property: transform;*/
/*}*/

table {
  width: 100%;
}

.error-record-details {
  overflow: hidden;
  padding: 1rem 0;
}

tr.detail-row {
  height: 0;
}

tr.error-record-row:not(.expanded-row):hover,
tr.error-record-row.expanded-row {
  background: #333;
}

tr.error-record-row {
  cursor: pointer;
}

.error-record-details-metadata tr td {
  padding-right: 0.5rem;
}

.error-record-details-metadata h3 {
  margin: 0;
  font-weight: bold;
}

.error-record-details-value {
  /*  TODO: when stacktrace is opened the page shifts, try to make it scrollable instead */
}

/*.refresh-button{*/
/*  float:right;*/
/*}*/
