.action-button {
  float: right;
  margin-left: 1rem;
}

.replay-button {
  background-color: var(--kt-success);
}

table {
  width: 100%;
}

.error-record-details {
  overflow: hidden;
  padding: 1rem 0;
}

tr.detail-row {
  height: 0;
}

tr.error-record-row:not(.expanded-row):hover,
tr.error-record-row.expanded-row {
  background: var(--kt-table-hover);
}

tr.error-record-row {
  cursor: pointer;
}

tr.triaged .mat-cell {
  color: #a9a9a9;
}

.error-record-details-metadata tr td {
  padding-right: 0.5rem;
}

.error-record-details-metadata h3 {
  margin: 0;
  font-weight: bold;
}

pre {
  white-space: pre-wrap !important;
  margin-top: 0.5rem;
}

.filters {
  width: 100%;
  float: left;
}
