:host {
  background-color: var(--kt-primary);
  color: white;
  padding: 0.2rem;
}

.discard-title {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  h3 {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .close-button {
    background-color: var(--kt-primary-darker);
    border: 2px solid var(--kt-primary-lighter);
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}

.discard-form {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1 1 0;
    border: 0.1rem solid var(--kt-primary-lighter);
    text-align: center;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-weight: bold;
    }
  }
}

.discard-button {
  width: 100%;
}

.discard-form-until-offset form {
  display: flex;
  flex-direction: column;

  span {
    margin: 0.5rem 0;
  }
}
