.menu-wrapper {
  border-right: 1px solid grey;
  height: 100%;
  min-width: 15%;
  max-width: 20%;
  float: left;
  background-color: #f5f5f5;
}

.menu-wrapper a {
  display: block;
  text-decoration: none;
  color: black;
}

.mat-icon {
  vertical-align: middle;
}

.mat-list-base {
  padding: 0 !important;
}

.mat-list-item {
  font-size: large;
}
.mat-list-item:hover {
  background-color: #e0e0e0;
}
