.menu-wrapper {
  height: 100%;
  background-color: #192a6f;
}

.menu-wrapper a {
  display: block;
  text-decoration: none;
  color: white;
}

.mat-icon {
  vertical-align: middle;
}

.mat-list-base {
  padding: 0 !important;
}

.mat-list-item {
  font-size: large;
}

.mat-list-item:hover {
  background-color: #121e52;
}
