:host {
  border: 1px solid grey;
  border-radius: 0.1rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  padding: 0.2rem;
}

.add-filter-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 0.1rem;
  padding: 0.1rem 0.2rem 0.1rem 0.1rem;
  background-color: var(--kt-button-background);

  &:hover {
    background-color: var(--kt-button-hover);
  }
}

.apply-button {
  margin-left: auto;

  .mat-raised-button {
    line-height: 1.8rem;
    color: black;
    background-color: var(--kt-button-boring);
  }

  .mat-raised-button.active {
    background-color: var(--kt-success);
    color: white;
  }
}
